---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content p > img {
  max-width: 500px !important;
  height: auto;
  display: block;
  margin: 1.5em auto;
  border-radius: 6px;
}

.post-content {
  max-width: 720px;       /* Limit width for readability */
  margin: 0 auto;         /* Center horizontally */
  padding-left: 1.5rem;   /* Add left padding */
  padding-right: 1.5rem;  /* Add right padding */
}

.page__content figure {
  max-width: 500px;
  margin: 1.5em auto;
  border-radius: 6px;
  /* Optional: add border, background, or shadow */
}

.page__content figcaption {
  font-size: 0.9rem;
  color: #666;
  text-align: center;
  margin-top: 0.5em;
  font-style: italic;
}